<h1>Editing post label</h1>

<%= render "form", post_label: @post_label %>

<br>

<div>
  <%= link_to "Show this post label", @post_label %> |
  <%= link_to "Back to post labels", post_labels_path %>
</div>
